<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Automated Bell System</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">RSET : Automated Bell System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if username %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">Logged in as : {{username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">logout</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to RSET's Automated Bell System</h1>
        <p class="lead">This system is built to automate the bell, anthem and announcements in Rajagiri School of Engineering and Technology </p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <form class="container offset-md-2" method="post" action="/apply/">{% csrf_token %}
                  <h2 class="display-3" > Apply profile </h2>
                  <h5>{{status}}</h5>

              <div class="form-group col-md-8 col-xs-8 offset-xs-2" style="display: inline; margin-top:10px;">
            <h3>Main Block</h3>

              <select class="form-control" name="main">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select><br>
            <h3>PG Block</h3>

              <select class="form-control" name="pg">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select><br>
            <h3>KE Block</h3>

              <select class="form-control" name="ke">
                <option value="">--------</option>
                {% for p in obj %}
                <option value="{{ p.name }}">{{ p.name }}</option>
                  {% endfor %}
              </select><br>
                      <button class="btn btn-primary btn-lg" name="signin">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RSET 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/popper/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/js/scrolling-nav.js"></script>

  </body>

</html>