<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Automated Bell System</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">RSET : Automated Bell System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            {% if username %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger">Logged in as : {{username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/logout/">logout</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to RSET's Automated Bell System</h1>
        <p class="lead">This system is built to automate the bell, anthem and announcements in Rajagiri School of Engineering and Technology </p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Services we offer</h2>
              <a href="/apply/"><button class="btn btn-primary btn-lg">Apply profile</button></a>
              <a href="/create/"><button class="btn btn-primary btn-lg" >Add new profile</button></a>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
            <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
            <ul>
              <li>Clickable nav links that smooth scroll to page sections</li>
              <li>Responsive behavior when clicking nav links perfect for a one page website</li>
              <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
              <li>Minimal custom CSS so you are free to explore your own unique design options</li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">
              Please mail to <a href="mailto:abhinavthomas@gmail.com"> Abhinav Thomas</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; RSET 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/popper/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="https://cdn.rawgit.com/BlackrockDigital/startbootstrap-scrolling-nav/master/js/scrolling-nav.js"></script>

  </body>

</html>
